* {
    box-sizing: border-box;
}

h1{
    font-family: Verdana, sans-serif;
    text-align: center;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(241, 241, 241);
    margin-left: 30px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#submit {
    block-size: 30px;
    margin: auto;
    font-size: medium;
    align-items: center;
    border-radius: 10px; 
    background-color: #FFA630;
}
#submit:hover {
    background-color: #ffd49c;
}
#nama_produk {
    margin-left: 10px;
}
.outerbox {
    justify-content: space-evenly;   
    flex-wrap:wrap;
    align-content: space-evenly;
    column-gap: 10em;
    row-gap: 5em;
}
.box {

    margin: auto;
    display: inline-table;
    justify-content: space-evenly;   
    /* buat ngasih gap antar box */
    flex-wrap:wrap;
    column-gap: 10em;
    row-gap: 5em;

    width: 350px;
    height: 350px;
    
    background-color: #D7E8BA;
    font-size: larger;
    border: 2px solid;
    border-radius: 20px;
    padding : 2em;
    margin-top: 20px;

    position: relative;

}
#inbox1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
#inbox2{
    text-align: left;
    font-size: 17px;
    /* padding-inline: 55px; */
    margin-left: 3em;
    position: absolute;
    bottom: 2em;
    left: 2em;
}
