* {
    box-sizing: border-box;
}

h1{
    font-family:  "Berkshire Swash", serif, Verdana;
    text-align: center;
}

body{
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(239, 239, 239);
    margin-left: 30px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#logout {
    color: white;
    block-size: 20px;
    width: 60px;
    border-radius: 5px;
    border: 0;
    background-color: red;
  }

#logout:hover {
    background-color: rgb(142, 20, 20);
  }

#submit {
    color:aliceblue ;
    block-size: 30px;
    width: 150px;
    border: 0;
    margin: auto;
    font-size: medium;
    align-items: center;
    border-radius: 10px; 
    background-color: #FC9918;
}

#submit:hover {
    background-color: #cf7704;
}

.box {

    margin: auto;
    display: inline-table;
    justify-content: space-evenly;   
    /* buat ngasih gap antar box */
    flex-wrap:wrap;
    width: 350px;
    height: 350px;
    background-color: #9fc0fd;
    font-size: larger;
    border: 1px solid;
    border-radius: 20px;
    /* padding : 0; */
    margin-top: 20px;
    position: relative;

}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


#inbox1 {
    text-wrap: wrap;
    font-size: 20px;
    text-align: center;
}

#inbox2{
    text-align: center;
    font-size: 22px;
    position: absolute;
    bottom: 2em;
    left: 30%;
}