<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>{{ app_name }}</h1>
    <p>At {{ app_name }}, we offer a unique collection of high-quality products from fashion and accessories to home essentials. Whatever you’re searching for, we’re committed to providing an enjoyable and satisfying shopping experience.</p>
    <br>
    <strong>Nama :</strong> {{ name }}<br><br>
    <strong> Class : </strong> {{ class }} <br>
    <!-- <strong>Harga:</strong> {{ price }}<br>
    <strong>Stok:</strong> {{ stock }}<br>
    <strong>Deskripsi:</strong> {{ description }}<br>  -->
</body>
</html>

    
