{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
{% comment %} 
<head>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,375;1,375&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1 style="font-size: 75px;"><span style="color: #35589A;">The</span><span style="color: tomato;">Waroenks</span></h1>
  </header>
    <!-- <p><tt>At {{ app_name }}, we offer a unique collection of high-quality products from fashion and accessories to home essentials.<br> 
      Whatever you’re searching for, we’re committed to providing an enjoyable and satisfying shopping experience.</tt></p> -->
    <br>
    <p>Welcome, <strong> {{ name }}</strong>!!!</p><br>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <a href="{% url 'main:logout' %}">
      <button id="logout">Logout</button>
    </a>
    <br><br/>
    <a href="{% url 'main:create_product' %}">
      <button id="submit">Add New Product</button>
    </a>
    <br> <br/>
    {% if not products %}
      <p>Belum ada data product pada The Waroenks.</p>
    {% else %}
      {% for product in products %}
        <div class="box">
          <div id="inbox1">
            <h2 style=" font-weight:bold; ">{{product.name}}</h2>
            <p style="font-size: 15px;">{{product.description}}</p>
          </div>
          <div id="inbox2">
            <br><br><br>
  
            <p>Rp. {{product.price}},00</p>
            <p>{{product.rating}} / 5.0</p>
          </div>

        </div>
          <a href="{% url 'main:edit_product' product.pk %}">
            <button>
                Edit
            </button>
          </a>
        <a href="{% url 'main:delete_product' product.pk %}">
            <button>
                Delete
            </button>
        </a>
      {% endfor %}
    {% endif %}

    <br />
  
</body> {% endcomment %}


<div class="page home-page overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  <div class="p-2 mb-6 relative">
    <div class="h-full w-full py-6  absolute top-0 left-0 z-20 md:hidden flex ">
    </div>
    <div class="d-flex text-center fw-bold ">
      <h1 style="font-size: 50px; font-weight: 900;">Welcome to The Waroenks!</h1>
    </div>
  </div>
  <div class="px-3 mb-4">
    <div class="button flex rounded-md items-center py-2 px-4 w-fit">
      <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
    </div>
  </div>
  <div class="flex px-3 mb-6">
    <a href="{% url 'main:create_product' %}" class="button text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Product
    </a>
  </div>
  
  {% if not products %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static '/image/nothing.gif' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
    <p class="text-center text-gray-600 mt-4">Belum ada data product pada The Waroenks.</p>
  </div>
  {% else %}
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
    {% for product in products %}
    {% include 'card_product.html' with product=product %}
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock content %} 

{% comment %} 
<div class="page home-page overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  <div class="p-2 mb-6 relative">
    <div class="h-full w-full py-6  absolute top-0 left-0 z-20 md:hidden flex ">
    </div>
    <div class="d-flex text-center fw-bold ">
      <h1 style="font-size: 50px; font-weight: 900;">Welcome to The Waroenks!</h1>
    </div>
  </div>
  <div class="px-3 mb-4">
    <div class="button flex rounded-md items-center py-2 px-4 w-fit">
      <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
    </div>
  </div>
  <div class="flex px-3 mb-6">
    <a href="{% url 'main:create_product' %}" class="button text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Product
    </a>
  </div>
  
  {% if not products %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static '/image/nothing.gif' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
    <p class="text-center text-gray-600 mt-4">Belum ada data product pada The Waroenks.</p>
  </div>
  {% else %}
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
    {% for product in products %}
    {% include 'card_product.html' with product=product %}
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock content %} {% endcomment %}
    
